<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div v-for="item in list">{{item}}</div>
        <div v-ofr="item in list2">
            <div v-if="item.age>29">item.name</div>
            <div v-else>item.age</div>
        </div>
        {{msg}}
    </div>
    <script src="../vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                msg: "Hello Vue",
                list: [1, 2, 3, 4],
                list2: [{
                    name: "liwei",
                    age: 29,
                },{
                    name: "小张",
                    age: 30
                }]
            }
        })
    </script>
</body>
</html>